.ecosystem {
    background: linear-gradient(360deg, var(--bg-100) 0%, var(--bg-100) 70%, transparent 100%);

    .telegram {
        display: none;
    }

    .diamond {

        display: none;
    }

    .cardBlock {
        display: flex;
        gap: 24px;
        flex-wrap: wrap;

        .bot,
        .application,
        .bounty,
        .identity {
            width: 100%;
        }

        .bot {
            position: relative;
            min-height: 508px;
            overflow: hidden;

            .button {
                z-index: 5;
                align-self: center;
                //margin-top: -28px;
            }

            .info {
                height: 100%;
                display: flex;
                flex-direction: column;

                .flexContainer {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;

                }
            }

            .phone {
                overflow: hidden;
                align-self: center;
                position: relative;

                .desk {
                    display: none;
                }

                .mbl {
                    width: 100%;
                    height: auto;
                }

                img {
                    width: 100%;
                }

                max-width: 300px;
                width: 100%;
                z-index: -1;
                top: 56px;
            }
        }

        .application {
            gap: 32px;
            width: 100%;

            .buttonBlock {
                justify-content: center;
                display: flex;
                flex-wrap: wrap;
                gap: 16px;
            }

            .imageMbl {
                display: block;
                width: 100%;
                height: auto;
            }

            .imgWrapper {
                display: none;
            }
        }

        .bounty,
        .identity {
            display: flex;
            flex-direction: column;
            align-items: flex-start;

            .image {
                width: 120px;
                height: auto;
                align-self: center;
                margin: 42px 0;
            }

            button {
                align-self: center;
            }
        }

        .identity {
            .image {
                margin: 26px 0;
            }
        }
    }
}


@media screen and (min-width:706px) {
    .ecosystem {

        .telegram {
            left: -10%;
            top: 28%;
            display: block;
        }

        .diamond {
            right: -9%;
            bottom: 29%;
            width: 144px;
            height: auto;
            display: block;
        }

        .cardBlock {
            .bot {
                min-height: auto;

                .button {
                    align-self: flex-start;
                    margin-top: -28px;
                }

                .info {
                    .flexContainer {
                        flex-direction: row;
                        gap: 32px;
                    }
                }

                .phone {
                    max-width: 184px;
                    top: 0px;
                    width: 100%;

                    .desk {
                        display: block;
                        width: 100%;
                        height: auto;
                    }

                    .mbl {
                        display: none;
                    }
                }
            }

            .application {
                gap: 32px;
                min-height: 400px;
                justify-content: space-between;

                .textBlock {
                    max-width: calc(100% - 184px - 32px);
                }

                .imgWrapper {
                    right: 40px;
                    top: 32px;
                    display: block;
                }

                .imageMbl {
                    display: none;
                }

                .buttonBlock {
                    justify-content: flex-start;
                }

                .imageMain {
                    position: relative;
                    width: 184px;
                    height: 360px;

                    .img1,
                    .img2 {
                        position: absolute;
                    }

                    .img1 {
                        width: 160px;
                        height: 160px;
                        transform: rotate(-8deg);
                    }

                    .img2 {
                        width: 120px;
                        height: 120px;
                        transform: rotate(8deg);
                        z-index: -1;
                        top: 143px;
                        left: 43px;
                    }
                }
            }

            .bounty,
            .identity {
                display: flex;
                flex-direction: column;
                align-items: flex-start;

                .image {
                    align-self: flex-end;
                    margin: -4px 20px -20px 0;
                }

                button {
                    align-self: inherit;
                }
            }

            .identity {
                .image {
                    margin: -4px 20px -20px 0;
                }
            }
        }
    }

}

@media screen and (min-width:1060px) {
    .ecosystem {
        .cardBlock {
            gap: 16px;
            width: 100%;

            .bot {

                .button {
                    align-self: flex-start;
                    margin-top: -28px;
                }

                .info {
                    .flexContainer {
                        flex-direction: row;
                        height: 100%;
                    }
                }

                .phone {
                    width: max-content;
                    align-self: flex-start;
                }
            }

            .application {
                gap: 32px;
                width: 100%;
                min-height: 512px;
                justify-content: space-between;



                .imgWrapper {
                    top: 68px;
                }

                .buttonBlock {
                    justify-content: flex-start;
                }

                .imageMain {


                    .img1,
                    .img2 {
                        position: absolute;
                    }

                    .img1 {
                        width: 160px;
                        height: 160px;
                        transform: rotate(-8deg);
                    }

                    .img2 {
                        width: 120px;
                        height: 120px;
                        transform: rotate(8deg);
                        z-index: -1;
                        top: 143px;
                        left: 43px;
                    }
                }
            }

            .bounty,
            .identity,
            .bot,
            .application {
                width: calc(50% - 8px);
                max-width: 512px;
                min-height: 512px;
                justify-content: space-between;
            }

            .bounty,
            .identity {

                .image {
                    margin: auto 20px -20px 0;
                }

            }


        }
    }


}