@property --rotate {
    syntax: "<angle>";
    initial-value: 132deg;
    inherits: false;
}

.nft {
    .back {
        top: 100px;
        position: absolute;
        width: 100%;
        height: 90%;
        border-radius: 48px;
        background: linear-gradient(293deg, rgba(204, 51, 204, 0.64) 0%, rgba(0, 198, 224, 0.64) 70.01%, rgba(0, 102, 255, 0.64) 98.84%);
        filter: blur(100px);
        z-index: -2;
        -webkit-transform: translate3d(0, 0, 0);

    }

    .content {
        position: relative;
        -webkit-transform: translate3d(0, 0, 0);

        .discord {
            transform: rotate(-15deg);
            left: -40px;
            bottom: 100px;
        }

        .diamondPink {
            right: -32px;
            top: 120px;
        }

        .diamondBlue {
            right: -27px;
            bottom: 400px;
            z-index: 2;
        }

        .mintBlock {
            align-self: center;
            width: 100%;
            //margin: 32px 0;
            margin-top: 60px;
        }

        .mintBlockMbl {
            margin-bottom: 60px;
            align-self: center;
            width: 100%;
            margin: 32px 0;
        }


        h5,
        p {
            max-width: none;
            color: var(--bg-100);
        }

        border-radius: 48px;
        background: var(--text-200, #D4D4D8);
        box-shadow: 0px 0px 48px 0px rgba(255, 255, 255, 0.08);
        color: var(--bg-100);
        padding: 32px 32px 40px;
        display: flex;
        flex-direction: column;

        .cardsBlock {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            gap: 16px;
            //margin-bottom: 64px;


            .card {
                font-size: 16px;
                font-style: normal;
                font-weight: 300;
                line-height: 24px;
                position: relative;
                background: var(--color-white);
                width: 100%;
                border-radius: 28px;
                padding: 24px 32px;
                position: relative;
                text-align: left;
                color: var(--bg-100);
                -webkit-transform: none;

                .border {
                    width: calc(100% + 4px);
                    height: calc(100% + 4px);
                    border-radius: 29.5px;
                    background-image: linear-gradient(var(--rotate), rgba(204, 51, 204, 1),
                            rgba(247, 159, 31, 1),
                            rgba(0, 198, 224, 1),
                            rgba(0, 102, 255, 1));
                    position: absolute;
                    z-index: -1;
                    top: -2px;
                    left: -2px;
                }

                .blur {
                    position: absolute;
                    top: -2px;
                    left: -2px;
                    z-index: -1;
                    width: calc(100% + 4px);
                    height: calc(100% + 4px);
                    margin: 0 auto;
                    transform: scale(0.9);
                    filter: blur(10px);
                    background-image: linear-gradient(var(--rotate), rgba(204, 51, 204, 1),
                            rgba(247, 159, 31, 1),
                            rgba(0, 198, 224, 1),
                            rgba(0, 102, 255, 1));
                    opacity: 0;
                    transition: opacity .5s;
                }


                &:hover {

                    .border,
                    .blur {
                        animation: spin 3.5s linear infinite;
                    }

                    .blur {
                        opacity: 1;
                    }
                }
            }
        }

        .imagesBlock {
            margin-top: 50px;
            height: 380px;
            align-self: center;

            .wrapper {
                position: relative;
                width: 100%;
                height: 100%;
            }

            .blurPink {
                width: 200px;
                height: 200px;
                background: var(--accent-100);
                -webkit-filter: blur(100px);
                filter: blur(100px);
                right: -70px;
                top: 0;
            }

            .blurBlue {
                width: 160px;
                height: 160px;
                background: var(--primary-100, #06F);
                -webkit-filter: blur(75px);
                filter: blur(75px);
                bottom: 71px;
                left: -24px;
                z-index: -1;
            }

            .perspectiveCat {
                perspective: 670px;
                perspective-origin: left;
            }

            .perspectiveRac {
                perspective: 100px;
            }

            &:hover {
                .cardcat {
                    transform: rotate3d(-7, 11, 8, -56deg) rotate(6deg) scale3d(1.1, 1.13, 1);
                }

                .cardraccoon {
                    transform: rotate3d(-7, 11, 8, 9deg) rotate(11deg) scale3d(1, 1.13, 1);
                }
            }

            .cardcat {
                position: absolute;
                max-width: 160px;
                -webkit-backdrop-filter: blur(20px);
                backdrop-filter: blur(20px);
                transform: rotate3d(-7, 11, 8, -47deg) rotate(4deg) scale3d(1.1, 1.13, 1);
                top: 100px;
                left: 80px;
                border-radius: 24px;
                box-shadow: 6px 12px 22px rgba(16, 16, 18, 0.5);
                transition: transform 3s ease;
            }

            .cardraccoon {
                max-width: 170px;
                -webkit-backdrop-filter: blur(20px);
                backdrop-filter: blur(20px);
                transform: skew(358deg, 190deg) rotate3d(1, 1, 1, 4deg);
                transform: rotate3d(-7, 11, 8, 7deg) rotate(9deg) scale3d(1, 1.13, 1);
                border-radius: 24px;
                position: relative;
                left: -50px;
                box-shadow: 6px 12px 22px rgba(16, 16, 18, 0.5);
                transition: transform 3s ease;
            }

            .diamondPurple {
                left: -100px;
                top: 50%;
            }

            .diamondCian {
                right: -16%;
                top: 14%;
            }

            .diamondCianSmall {
                right: -40%;
                bottom: 13%;
                transform: rotate(-45deg);
            }

            .diamondPinkSmall {
                left: -41%;
                top: 15%;
            }
        }
    }
}

@media screen and (min-width: 706px) {

    .nft {
        br {
            display: none;
        }

        .brush {
            margin-left: 24px;
        }


        .content {
            padding: 40px 40px 48px;
            border-radius: 64px;

            .discord {
                left: initial;
                bottom: 100px;
                right: -40px;
                transform: rotate(15deg);
            }

            .diamondPink {
                right: -32px;
                top: 144px;
                width: 72px;
                height: auto;
            }

            .diamondBlue {
                left: initial;
                right: 98px;
                bottom: -40px;
                z-index: 2;
            }

            .cardsBlock {
                // margin-bottom: 48px;

                .card {
                    width: calc(50% - 8px);
                    padding: 32px;
                }
            }

            .mintBlockMbl {
                margin-bottom: 75px;
            }

            .mintBlock {
                margin-top: 75px;
            }

            .imagesBlock {
                margin-top: 70px;
                height: 477px;

                .blurPink {
                    right: -70px;
                    top: 0;
                }

                .blurBlue {
                    bottom: 71px;
                    left: -24px;
                }

                .cardcat {
                    position: absolute;
                    max-width: 200px;
                    top: 100px;
                    left: 110px;
                    border-radius: 36px;
                }

                .cardraccoon {
                    max-width: 210px;
                    border-radius: 36px;
                    position: relative;
                    left: -120px;
                }

                .diamondPurple {
                    width: 120px;
                    height: auto;
                    left: -210px;
                    top: 55%;
                }

                .diamondCian {
                    width: 80px;
                    height: auto;
                    right: -21%;
                    top: 5%;
                }

                .diamondCianSmall {
                    right: -77%;
                    bottom: 25%;
                    width: 48px;
                    height: auto;
                }

                .diamondPinkSmall {
                    width: 56px;
                    height: auto;
                    left: -68%;
                }
            }
        }
    }

}

@media screen and (min-width: 1024px) {
    .nft {
        .content {
            padding: 48px 48px 56px;
            border-radius: 48px;

            .discord {
                width: 120px;
                height: 120px;
            }

            h5,
            p {
                max-width: 483px;
                width: 100%;
                align-self: flex-end;
            }

            .imagesBlock {
                position: absolute;
                left: 30px;
                margin-top: 30px;

                &:hover {
                    .cardcat {
                        //transform: rotateX(15deg) scaleY(0.5) skew(176deg, -9deg) rotate(343deg);
                    }

                    /* .cardraccoon {
                        transform: skew(347deg, 187deg) rotate3d(1, 1, 2, 6deg);
                    } */
                }

                .cardcat {
                    top: 260px;

                    left: 184px;
                    //transform: rotateX(17deg) scaleY(0.5) skew(176deg, -6deg) rotate(346deg);

                }

                .cardraccoon {
                    left: 48px;
                }

                .perspectiveCat {
                    perspective: 880px;

                }

                .diamondPurple {

                    left: -100px;
                    top: 55%;
                }

                .diamondCian {
                    right: -51%;
                    top: 45%;
                }

                .diamondCianSmall {
                    right: -67%;
                    bottom: 5%;

                }

                .diamondPinkSmall {
                    left: -12%;
                }

                .blurPink {
                    right: -70px;
                    top: 80px;
                }

                .blurBlue {
                    bottom: 0px;
                    left: 24px;
                }


            }

            .cardsBlock {
                max-width: 483px;
                width: 100%;
                align-self: flex-end;
                // margin-bottom: 56px;
                margin-top: 48px;
            }

            .mintBlock,
            .mintBlockMbl {
                width: 100%;
                max-width: 483px;
                align-self: flex-end;
            }
        }
    }

}


@keyframes spin {
    0% {
        --rotate: 0deg;
    }

    50% {
        --rotate: 180deg;
    }

    100% {
        --rotate: 360deg;
    }
}



.nftSafari {



    .cardcat,
    .cardraccoon {
        background: rgba(47, 47, 53, 0.8) !important;

    }

    .cardsBlock {
        .card {
            box-shadow: 0px 0px 10px 3px rgba(204,
                    51,
                    204, 0.5);


            .blur,
            .border {
                display: none;
            }
        }
    }



}