 .MintSuccess {
     a.button {
         background-color: white !important;
         color: black !important;

         img {
             filter: invert(0) !important;
         }
     }

     h3,
     h5 {
         z-index: 1;
     }

     .imagesBlock {
         position: relative;
         //max-width: 100%;
         max-height: 100%;
         max-width: 790px;
         min-height: 190px;

         .card {
             width: 100%;
             height: auto;
             max-height: 100%;
             margin-top: -10vw;
             z-index: 1;
             position: relative;
         }

         .desk {
             display: none;
             transform: rotate(180deg);
         }

         .purple {
             right: 32%;
             top: 0%;
             height: auto;
         }

         .blue {
             left: 5%;
             top: 40%;
             height: auto;
         }

         .small {
             top: 55%;
             right: 15%;
             z-index: 1;
             height: auto;
         }

     }

     h5 {
         margin-top: -5vw;
         margin-bottom: 48px;
     }
 }

 @media screen and (min-width: 705px) {
     br {
         display: none;
     }

     .MintSuccess {
         .imagesBlock {
             .card {
                 margin-top: -15%;
             }


             .purple {
                 right: 32%;
                 top: 6%;
                 width: 73px;
             }

             .blue {
                 left: 6%;
                 top: 38%;
                 width: 68px;
             }

             .small {
                 top: 55%;
                 right: 15%;
                 width: 40px;
             }

         }

         h5 {
             margin-top: -14%;
             margin-bottom: 48px;
         }
     }
 }


 @media screen and (min-width: 1024px) {
     .MintSuccess {
         .imagesBlock {
             .card {
                 margin-top: -110px;
             }

             .purple {
                 right: 28%;
                 top: 0%;
                 width: 104px;
             }

             .blue {
                 left: 3%;
                 top: 28%;
                 width: 96px;
             }

             .small {
                 top: 40%;
                 right: 13%;
                 width: 56px;
             }

             .desk {
                 display: block;
                 width: 40px;
                 height: auto;
                 top: 45%;
                 left: 20%;
                 z-index: 2;
             }

         }

         h5 {
             margin-top: -24%;
             margin-bottom: 48px;
         }


     }
 }