 .ConnectModal {
     .cardsBlock {
         display: flex;
         gap: 16px;
         flex-direction: row;
         flex-wrap: wrap;
         align-items: center;
         justify-content: center;

         :nth-child(1),
         :nth-child(2) {
             width: 100%;
             max-width: 400px;
         }
     }
 }

 @media screen and (min-width: 705px) {
     .ConnectModal {
         .cardsBlock {
             gap: 24px;
             flex-direction: row;

         }
     }
 }


 @media screen and (min-width: 1024px) {}