.tokenomic {

    .content {
        -webkit-transform: unset;
        position: relative;
    }

    .diamond {
        width: 104px;
        height: auto;
        position: absolute;
        right: 0;
        top: -52px;
        z-index: -1;
    }


    .cardBlock {
        display: flex;
        flex-wrap: wrap;
        gap: 32px;
        margin-top: 24px;
        width: 100%;

        .card {
            justify-content: space-between;
            gap: 24px;

            div {
                display: flex;
                flex-direction: column;

                .img {
                    margin-bottom: 56px;
                    width: 144px;
                    padding: 8px;
                    height: auto;
                    align-self: center;
                }
            }


            .link {
                align-self: flex-end;
            }
        }
    }
}

@media screen and (min-width:730px) {

    .tokenomic {
        .cardBlock {
            gap: 16px;
            margin-top: 48px;
            padding: 0 var(--mg-lr);
            padding-bottom: 24px;
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            gap: 16px;
            white-space: nowrap;
            position: relative;
            overflow-x: scroll;
            overflow-y: hidden;
            -webkit-overflow-scrolling: touch;

            &::-webkit-scrollbar {
                height: 5px;
                /* width of the entire scrollbar */
            }

            &::-webkit-scrollbar-track {
                background: var(--bg-100);
                /* color of the tracking area */
            }

            &::-webkit-scrollbar-thumb {
                background: var(--bg-200);
                /* color of the scroll thumb */
                border-radius: 20px;
                /* roundness of the scroll thumb */
                border: none;
                /* creates padding around scroll thumb */
            }

            .card {
                min-height: 568px;
                min-width: 304px;
                white-space: normal;

                .img {
                    margin-bottom: 32px;
                }
            }
        }

    }
}


@media screen and (min-width:1024px) {

    .tokenomic {
        .cardBlock {
            margin-top: 56px;
            padding: 0;
            padding-bottom: 0;
            white-space: normal;
            overflow-x: initial;
            overflow-y: initial;
            -webkit-overflow-scrolling: initial;
            width: 100%;


            .card {
                min-width: initial;
                max-width: 336px;
                width: 100%;

                .img {
                    margin-bottom: 56px;
                }
            }
        }

    }
}