.card {
    backdrop-filter: blur(8px);
    padding: var(--cardPadding);
    border-radius: 40px;
    display: flex;
    flex-direction: column;

    &.blue {
        background: var(--card-blue);
    }

    &.pink {
        background: var(--card-pink);
    }

    &.orange {
        background: var(--card-orange);
    }
}