.hero {
    text-align: center;
    padding-top: var(--spacer) !important;
    display: flex;
    flex-direction: column;

    .button {
        align-self: center;
        margin-top: 64px;
    }

    .back {
        width: calc(100% + var(--mg-lr));
        height: 150%;
        left: calc(-1 * var(--mg-lr));
        /*  display: none; */
    }


    &::after {
        content: "";
        position: absolute;
        width: 100%;
        height: 1000px;
        background-color: var(--bg-100);
        left: 0;
        bottom: -1200px;
    }

    h5 {
        max-width: 960px;
        align-self: center;
    }

    br {
        display: block;
    }

    .content {
        position: relative;
        z-index: 5;
        align-self: center;

    }

    .black {
        z-index: 0;
        bottom: 0%;
        width: 110vw;
        left: -5vw;

        img {
            filter: blur(5px);
            width: 100%;
            box-shadow: 00 123px 0 100px var(--bg-100);

        }
    }
}

@media screen and (min-width:706px) {
    .hero {
        .black {
            bottom: -10%;
        }
    }
}

@media screen and (min-width:1024px) {

    .hero {


        .back {
            opacity: .4;
        }

        .test,
        .test2 {
            position: absolute;
            --size: 50vw;
            min-width: 700px;
            min-height: 700px;
            width: var(--size);
            height: var(--size);
            filter: blur(calc(var(--size) / 5));
            border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
        }

        .test {

            animation: rotate 15s cubic-bezier(0.8, 0.5, 0.2, 0.8) alternate infinite;
            background-image: linear-gradient(rgb(167, 22, 157), rgba(0, 198, 224, 1));
        }

        .test2 {
            right: 0;
            background-image: linear-gradient(rgba(27, 58, 216, 0.7), rgba(191, 49, 177, 0.793));
            animation: rotate 25s cubic-bezier(0.8, 0.2, 0.2, 0.3) alternate-reverse infinite;
        }


        .black {
            bottom: -55%;
        }


    }
}


@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}