.team {
    position: relative;
    background-color: var(--bg-100);

    .blur {
        width: 1000px;
        height: 1000px;
        position: absolute;
        margin: 0 auto;
        right: -600px;
        text-align: center;
        mix-blend-mode: screen;
        background: radial-gradient(circle, rgba(0, 102, 255, 0.6) 0%, rgba(0, 212, 255, 0) 100%);
        filter: blur(100px);
        opacity: .7;
        background-repeat: no-repeat;
        z-index: -2;
    }

    .medal {
        position: absolute;
        width: 72px;
        height: auto;
        right: var(--mg-lr);
        top: 0;
        z-index: -1;
        filter: blur(2px);
    }

    .columns {
        max-width: 800px;
        margin-top: 40px;
        display: flex;
        gap: 48px;
        flex-direction: column;
        position: relative;

        .trophy {
            position: absolute;
            width: 120px;
            height: auto;
            right: var(--mg-lr);
            top: 20%;
            z-index: -1;
            filter: blur(1px);
        }



        .number {
            font-size: 64px;
            font-style: normal;
            font-weight: 700;
            line-height: 80px;
        }

        .choice,
        .overall,
        .over {
            font-size: 20px;
            font-style: normal;
            font-weight: 700;
            line-height: 32px;
            text-transform: uppercase;
        }

        .numbersColumn,
        .infoColumn {
            display: flex;
            flex-direction: column;
        }

        .numbersColumn {
            gap: 48px;

            .over {
                margin-bottom: -4px;
            }
        }

        .infoColumn {
            gap: 56px;

            .choice {
                margin-top: 8px;
            }

            .positionBlock {
                .numberBlock {
                    display: flex;
                    flex-direction: row;
                    gap: 16px;
                    align-items: center;

                    .overall {
                        width: min-content;
                    }
                }
            }
        }
    }
}


@media screen and (min-width:706px) {

    .team {

        .medal {
            width: 104px;
            transform: translateY(0%);
        }

        .columns {
            gap: 48px;
            flex-direction: row;

            .trophy {
                width: 160px;
                left: inherit;
                bottom: -20%;
                right: 0%;
            }

            .numbersColumn,
            .infoColumn {
                width: 50%;
            }

            .numbersColumn {
                gap: 64px;

                .over {
                    margin-bottom: -8px;
                }
            }

            .infoColumn {
                gap: 92px;

                .choice {
                    width: 190px;
                }

                .positionBlock {
                    .numberBlock {
                        gap: 24px;
                    }
                }
            }
        }
    }
}

@media screen and (min-width:1024px) {

    .team {

        /* max-width: 800px;
        align-self: flex-start; */


        .medal {
            width: 96px;
            transform: translateY(0%);
            top: 36%;
        }

        .columns {
            margin-top: 48px;
            gap: 48px;
            flex-direction: row;

            .number {
                font-size: 80px;
                line-height: 96px;
            }

            .choice,
            .overall,
            .over {
                font-size: 24px;
                line-height: 40px;
            }

            .trophy {
                width: 144px;
                left: inherit;
                bottom: 10%;
                right: -30%;
                top: inherit;
            }

            .numbersColumn,
            .infoColumn {
                width: 50%;
            }

            .numbersColumn {
                gap: 80px;

                .over {
                    margin-bottom: -8px;
                }
            }

            .infoColumn {
                gap: 109px;
                margin-top: 8px;

                .choice {
                    width: 250px;
                }

                .positionBlock {
                    .numberBlock {
                        gap: 16px;
                    }
                }
            }
        }
    }
}